<%-include("./partials/header")%>
<!--body starts here-->
<header id="main">
    <div class="main-nav">
        <div class="container">
            <div class="nav-data">
                <div class="nav-left"><i class="fas fa-dragon fa-2x"></i> Dragon&reals; </div>
                <div class="nav-items">
                    <ul>
                        <li><a href="./">Home</a></li>
                        <li><a class="current" href="">About</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about-page">
    <div class="container">
        <div class="about-content">
            <div class="paragraph">
                <h1><span class="text-content">About </span>Hotel Dragon&reals;</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quis harum quae sit illum voluptates eaque modi impedit nisi eligendi amet similique adipisci temporibus error natus nostrum praesentium, eius molestiae! Debitis temporibus cupiditate minus beatae, vel facilis! Pariatur, cupiditate aliquam!</p>
            </div>
            <div class="image"><img src="img/test-bg.jpg"></div>
        </div>
    </div>
</section>
<div class="clr"></div>
<section id="testimonials">
    <div class="test-content">
        <h3>What Our Guests Say</h3>
        <div class="tag">
            <img src="img/person-1.jpg">
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta expedita error veritatis dolorum eveniet reprehenderit voluptatum aut ratione, sequi recusandae, corrupti quo quam odit facilis vero id doloribus inventore ipsam.</p>
        </div>
        <div class="tag">
            <img src="img/person-2.jpg">
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta expedita error veritatis dolorum eveniet reprehenderit voluptatum aut ratione, sequi recusandae, corrupti quo quam odit facilis vero id doloribus inventore ipsam.</p>
        </div>
    </div>
</section>


<footer>
    <p>Hotel   <i class="fas fa-dragon fa-2x"></i> Dragon&reals;__&copy; 2020, All Rights Reserved. </p>
</footer>


<!--body ends here-->
<%-include("./partials/footer")%>