<%-include("./partials/header")%>
<!--body starts here-->
<header id="main">
    <div class="main-nav">
        <div class="container">
            <div class="nav-data">
                <div class="nav-left"><i class="fas fa-dragon fa-2x"></i> Dragon&reals; </div>
                <div class="nav-items">
                    <ul>
                        <li><a class="current" href="home">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Image below navbar-->
<section id="heading">
    <div class="container">
        <div class="heading-content">
            <h1><span class="text-content">Enjoy</span> Your Stay</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere unde laudantium quis ullam, nemo minus.</p>
            <a href="" class="btn">About Our Hotel</a>
        </div>
    </div>
</section>

<!--History of hotel-->
<section id="history">
    <div class="history-image"></div>
    <div class="history-content">
        <div class="data">
            <h1><span class="text-content">The History </span>of Our Hotel</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus ipsa sed numquam inventore animi labore autem possimus dolorem modi, eligendi illo tenetur, placeat saepe natus accusamus ex ratione! Omnis totam et dolorem ratione officiis, alias voluptatum nulla! Aliquid, illo fugiat!</p>
        </div>
    </div>
</section>
<div class="clr"></div>

<!--aboutus-->
<section id="about">
    <div class="about-content">
        <div>
            <i class="fas fa-hotel fa-3x"></i>
            <h2>Great Location</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusamus!</p>
        </div>
        <div>
            <i class="fas fa-dumbbell fa-3x"></i>
            <h2>Fitness Rooms</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusamus!</p>
        </div>
        <div>
            <i class="fas fa-utensils fa-3x"></i>
            <h2>Free Meals</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, accusamus!</p>
        </div>
    </div>
</section>

<footer>
    <p>Hotel   <i class="fas fa-dragon fa-2x"></i> Dragon&reals;__&copy; 2020, All Rights Reserved. </p>
</footer>


<!--body ends here-->
<%-include("./partials/footer")%>